footer{
    background-color: var(--color-primario-verde);
    height: 80px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer > div{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.footer-en-linea{
    margin: 1vw;
}

.footer-en-linea:hover{
    text-decoration: underline;
    cursor: pointer;
}

.copyright{
    text-align: center;
}

@media screen and (max-width: 427px){
    footer {
        font-size: 0.8em;
        height: 45px;
    }
}

@media screen and (max-width: 321px){
    footer {
        font-size: 0.7em;
        height: 35px;
    }
}