:root {
    --color-fondo: #E9F5DB;
}

main {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10vh;
}

body {
    background-color: rgb(234, 255, 252);
}

#titulo {
    height: 15vh;
    margin-top: -5vh;
    text-align: center;
}

.especialidad {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    gap: 5vw;
    margin-bottom: 5vh;
}

.especialidad-opcion {
    text-align: center;
    width: 200px;
}

.especialidad-opcion-imagen {
    border-radius: 50%;
    vertical-align: super;
    transition: transform 0.3s ease-out;
    background-color: var(--color-fondo)
}

.especialidad-opcion-imagen:hover {
    transform: scale(1.2) rotate(15deg) translateY(-2vh);
    cursor: pointer;
}

#publicidad{
    display: block;
}

#acercaDeCasaLista {
    margin-top: 8vh;
    text-align: center;
}

main iframe {
    margin-top: 1vh;
    margin-bottom: 2vh;
}

@media screen and (max-width: 427px) {
    #titulo {
        height: 10vh;
    }

    #titulo h2 {
        font-size: 1.2em;
    }

    .especialidad h3 {
        font-size: 1em;
    }

    main iframe {
        width: 92%;
        height: 320px;
        margin-left: 3vw;
    }
}

@media screen and (max-width: 321px) {
    #titulo h1 {
        font-size: 1em;
    }

    .especialidad h3 {
        font-size: 0.8em;
    }
}