main form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgb(240, 244, 240);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(1, 1, 1, 0.5);
    flex-wrap: wrap;
}

main h1 {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 20px;
}

main div {
    margin-top: 10px;
}

main label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
}

main input[type="text"],
main input[type="email"],
main input[type="tel"],
main input[type="password"],
main input[type="file"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

main {
    margin-bottom: 15vh;
}

main button[type="reset"], main button[type="submit"] {
    background-color: green;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;

}

@media only screen and (max-width: 600px) {
    .container {
        max-width: 80%;
    }
}