<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../static/img/favicon/casaLista.ico" type="image/x-icon">
    <title>Detalle especialista</title>
    <link rel="stylesheet" href="../static/css/general.css">
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/detalle.css">
    <link rel="stylesheet" href="../static/css/footer.css">
</head>

<body>
    <main>
        <section id="detalleEspecialista">
            <h2>Información especialista</h2>
        </section>
    </main>
    <footer>
        <div>
            <p class="footer-en-linea" id="TerminosYCondiciones">Términos y condiciones</p>
            <p class="footer-en-linea" id="FAQ">FAQ</p>
            <p class="footer-en-linea" id="QuienesSomos">¿Quíenes somos?</p>
        </div>
        <p class="copyright">&copy; Copyright 2024</p>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../static/js/validacionPostLogin.js"></script>
    <script src="../static/js/headerLogueado.js"></script>
    <script src="../static/js/detalle.js"></script>
    <script src="../static/js/footer.js"></script>
</body>

</html>